body {
  background-color: turquoise;
  background-image: url(christmas-2869817_1920.jpg);
}
h1 {
  margin-top: 1cm;
  color: white;
  text-align: center;
  font-size: 7.5em;
}
.infotext {
  margin-top: 0cm;
  font-family: fantasy;
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
}
#div1 {
  margin: auto;
  width: 60%;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

r1 {
  text-align: center;
  font-family: fantasy;
  color: chartreuse;
}
